@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@media (min-width: 768px){
    .social {
        position: fixed;
        top: 300px;
    }
    
    .social ul {
        padding: 10px;
        transform: translate(-270px, 0);
    }
    
    .social ul li {
        display: block;
        margin: 10px;
        background: rgba(137, 110, 255, 0.979);
        width: 300px;
        text-align: right;
        padding: 10px;
        border-radius: 0 30px 30px 0;
        transition: all 1s;
    }
    
    .social ul li:hover {
        transform: translate(110px, 0);
        background: rgba(0, 0, 0, 0.4);
    }
    
    .social ul li:hover a {
        color: #ffffff;
    }
    
    .social ul li:hover i {
        color: #fff;
        background: rgba(0, 0, 0, 0.36);
        transform: rotate(360deg);
        transition: all 1s;
    }
    
    .social ul li i {
        margin-left: 10px;
        color: white;
    
        padding: 15px;
        border-radius: 50%;
        /* width: 30px;
        height: 30px; */
        font-size: 20px;
        transform: rotate(0deg);
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    .btn.book-now {
        background: rgba(137, 110, 255, 0.979);
        border-radius: 0;
        color: white;
        display: inline-block;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 400;
        
        height: 40px;
        line-height: 40px;
        position: fixed;
        right: 0;
        top: 200px;
        
        text-align: center;
        text-decoration: dotted;
        text-transform: uppercase;
        background: linear-gradient(45deg, #00A2E2, #00A2E2);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: bottom right;
        width: 80px;
        /* animation-name: requestbtn;
        animation-duration: 1ms; */
        /* Hover styles, 
        media queries */
        /* animation:  requestbtn normal 0ms; */
      }
/* 
      @keyframes requestbtn {
        %0{
          .btn.book-now{
            display: none;
          }
        }
        %25{
          .btn.book-now{
            display: contents;
          }
        }
        %50{
          .btn.book-now{
            display: contents;
          }
        }
        %75{
          .btn.book-now{
            display: contents;
          }
        }
        %100{
          .btn.book-now{
            display: none;
          }        }
        
      } */

      .btn.book-now:hover{
        color: white;
        background: linear-gradient(45deg, #0b82b0, rgba(137, 110, 255, 0.979)) ;
        border-radius: 30px 30px 0 0;
        transition: 1s;
        font-size: 8px;
      }


.social-container {
  width: 300px;
  /* margin: 40vh auto; */
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 6px;
  left: 7px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  content: " ";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #00A2E2);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #00A2E2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
}

@media (max-width :795px ) {
    .social {
        
        display: none;

    }
    

    
    .btn.book-now {
        display: none;
        background: none;
      }


      .social-container {
        display: none;
      }

}


@media (max-width :1460px) {
  .social-container{
    display: none;
  }
}